.card{
    width: 600px;
    height: 400px;
    background-color: $pricing-component-background;
    margin: 0 auto;
    position: relative;
    bottom: 150px;
    border-radius:10px;
    box-shadow: 0 0 2px;
    padding:0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    color: $text;
}

.views {
    margin-left: 40px;
    margin-top: 40px;
    text-transform: uppercase;
}

.price-month {
    margin-right: 40px;
    margin-top: 15px;
}

.price {
    color: $text-CTA-background;
    font-size: 35px;
    font-weight: bold;
    position: relative;
    top: 7px;
}

.card-body-text {
    display: flex;
    justify-content: space-between;
}